body {
    font-family: 'Times New Roman', cursive;
}

/* navbar */
.transparent {
    background: rgba(0, 0, 0, 0.5)
}

.navbar-toggler-icon {
    border: 5px solid black;
    padding: 30px;
    background-color: #F15025;
}

.nav-link, .navbar-brand {
    color: #F15025!important;
    font-style: bold;

}

.navbar a hover {
    color: whitesmoke!important;
    
}
/* End of navbar */

header{
    height:100vh;
    background: url(caffeine.jpg) fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-center{
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner-underline{
    width: 300px;
    border: 3px solid #F15025;
    margin: 0px auto 20px auto;
    
}

.banner-center a{
    font-size: 30px;
    width: 300px;
    margin: 0px auto;
    display: inline-block;
    border: 3px solid black;
    color: black;
    text-decoration: none;
    border-radius: 20px;
}

.banner-center a hover,

.banner a {
    color: #F15025;
    background-color: whitesmoke;
}

/* end of banner */

/* title */
.title{
    margin: 20px 0;
}

.title-underline{
    width: 150px;
    border: 3px solid #F15025;
    margin: 0px auto 10px auto;
}

/* end of title */

/* Types of coffee */

#coffee{
    padding:40px;
    color: #2D3142;
    margin-bottom: 10px;
}

#coffee a{
    margin-bottom: 20px;
    background-color: #F15025;
    color: whitesmoke;
    font-size: 20px;
}

#coffee a hover{
    background-color: #CED0CE;  
}


/* End of Types of coffee */


/*About*/
#about{
    background-color: #2D3142;
}

#about .pic{
    height: 600px;
    background: url(flowers.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 600px solid transparent;
    border-left: 100px solid #2D3142;
}

#about .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*End of About*/

/* Contact section */
#contact {
    padding: 40px;
    background-color: whitesmoke;
}

#contact .form-control{
    border-radius: 0!important;
    font-size: 20px;
}

#contact button {
    background-color: #353531;
    font-size: 24px;
    color: #F15025;
    margin-bottom: 20px;
}

#contact button hover{
    background-color: #CED0CE;
}


/* End of contact section */

/* Footer section */
#footer {
    padding: 40px;
    color: whitesmoke;
    background-color: #335533;

}

#footer .title-underline{
    margin-bottom: 40px;
 
}


#footer .footer-icons{
    font-size: 60px;
    padding-top: 30px;
}

#footer .footer-icons a{
    color: black;
    text-decoration: none;
}

#footer .footer-icons a{
    color: deepskyblue;
    text-decoration: none;
}

#footer .footer-icons a hover{
    color: #F15025;
}

#footer .copyrights h3{
    padding: 40px 0;
    color: #CED0CE;

}

/* End of Footer section */

